<!DOCTYPE html>
{% load static %}
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{% static 'hanbild/css/style.min.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="{% static 'hanbild/favicon/icon.svg' %}" type="image/icon type" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <title>
      {% block title %}

      {% endblock %}
    </title>

    {% block css %}

    {% endblock %}
      <meta property="og:title" content="Hanbild - виробник самоскидних та бортових кузовів">
      <meta property="og:description" content="Hanbild - ваш надійний партнер у сфері виробництва причепів та напівпричепів.">
        <meta name="title" content="Hanbild - виробник самоскидних та бортових кузовів">
      <meta name="description" content="Hanbild - ваш надійний партнер у сфері виробництва причепів та напівпричепів. ">
      <meta property="og:image" content="https://lh3.googleusercontent.com/pw/AP1GczPGyVzPzX9BAyucKJ5lR1fFaurNJSY8qSZv3_WYPjyB5psyLNScKluO1yAq_w0dimf8-Q9XY0j5YCi1_e5I0h7TNdvQ7FZ6PFyF66282tN7DltpxnMLZROdWxEPdQbKUQHVY7QDkKsjNtD3Bo2JFz4=w1828-h279-s-no-gm?authuser=0" />
      <meta property="og:type" content="website" />
      <meta property="og:image:width" content="1024">
      <meta property="og:image:height" content="768">
      <meta property="og:locale" content="uk_UA">
      <meta property="og:site_name" content="www.hanbild.com.ua">

  </head>
  <body id="scroll-body">
    {% include 'includes/_feedback_button.html' %}
    {% include 'includes/_feedback_form.html' %}
    {% include 'includes/_cookies_agreement.html' %}
    {% include 'includes/_load_indicator.html' %}
    <div class="wrapper">
      {% include 'includes/_header.html' %}
      <div class="body-overlay"></div>
      {% block content %}

      {% endblock %}
      {% include 'includes/_footer.html' %}
    </div>
  </body>
  <script src="{% static 'hanbild/js/jquery/jquery.js' %}"></script>
  <script src="{% static 'hanbild/js/action.js' %}"></script>
  <script src="{% static 'hanbild/js/ajax.js' %}"></script>
  {% block js %}

  {% endblock %}
</html>
