{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <main class="background-off main">
    <div class="up-main-section">
      <div class="breadcrumbs" id="breadcrumbs-main">
        <ul>
          <li>
            <a href="{% url 'main:index' %}">{% translate 'Головна сторінка' %}</a>
          </li>
          <li>
            {% translate 'Доставка' %}
          </li>
        </ul>
      </div>
    </div>
    <div class="delivery-page">
      <div class="photo-block">
        <div class="left-container">
          <div class="info">
            <h2>{% translate 'Доставка та оплата' %}</h2>
            <p>
              {% translate 'Компанія HanBild пропонує зручні та надійні способи доставки нашої продукції, а також різні варіанти оплати. Дізнайтеся деталі про процес доставки та доступні методи оплати на цій сторінці.' %}
            </p>
          </div>
          <div></div>
        </div>
        <div class="right-container"></div>
      </div>
    </div>
  </main>
{% endblock %}
