{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta %}
<meta name="description" content="{% translate 'Дізнайтеся про умови доставки продукції HanBild: причепи, напівпричепи та вантажна техніка. Швидка та безпечна доставка по всій Україні ✓. Професійний підхід до кожного замовлення ✓.' %}">
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{% translate 'Дізнайтеся про умови доставки продукції HanBild: причепи, напівпричепи та вантажна техніка. Швидка та безпечна доставка по всій Україні ✓. Професійний підхід до кожного замовлення ✓.' %}" />
{% endblock %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <main class="main">
    <div class="up-main-section">
      {% url 'main:delivery' as current_url %}
      {% translate 'Доставка' as current_title %}
      {% include 'includes/_breadcrumbs.html' with current_url=current_url current_title=current_title %}
    </div>
    <div class="delivery-page">
      <div class="photo-block">
        <div class="left-container">
          <div class="info">
            <h1>{% translate 'Доставка HanBild' %}</h1>
            <p>
              {% translate 'Компанія HanBild пропонує зручні та надійні способи доставки нашої продукції, а також різні варіанти оплати. Дізнайтеся деталі про процес доставки та доступні методи оплати на цій сторінці.' %}
            </p>
          </div>
          <div></div>
        </div>
        <div class="right-container"></div>
      </div>
      <div class="delivery-container">
        <div class="delivery-card">
          <h2>{% translate 'Способи доставки' %}</h2>
          <div class="delivery-card-content">
            <p>{% translate 'Доставка здійснюється по всій Україні:' %}</p>
            <ul>
              <li>{% translate 'доставка у відділення' %}</li>
              <li>{% translate 'доставка за адресою' %}</li>
              <li>{% translate 'самовивіз' %}</li>
            </ul>
            <p>{% translate 'Ми співпрацюємо з такими транспортними компаніями:' %}</p>
            <ul>
              <li>{% translate 'Укрпошта' %}</li>
              <li>{% translate 'Нова пошта' %}</li>
              <li>{% translate 'Delivery' %}</li>
              <li>{% translate 'SAT' %}</li>
              <li>{% translate 'Нічний експрес' %}</li>
            </ul>
            <p>
              <b>{% translate 'Вартість та термін доставки' %}</b> {% translate 'можна обговорити з нашим менеджером, який допоможе підібрати оптимальний варіант для вас.' %}
            </p>
          </div>
        </div>
        <div class="delivery-card">
          <h2>{% translate 'Способи оплати' %}</h2>
          <div class="delivery-card-content">
            <p>{% translate 'Оплата замолення здійснюється такими способіми:' %}</p>
            <ul>
              <li>{% translate 'готівковий розрахунок' %}</li>
              <li>{% translate 'безготівковий розрахунок за реквізитами, виданими менеджером' %}</li>
            </ul>
            <p>{% translate 'Також ви можете обрати найзручніший для вас спосіб оплати:' %}</p>
            <ul>
              <li>{% translate 'передоплата' %}</li>
              <li>{% translate 'післяплата' %}</li>
              <li>{% translate 'відстрочка платежу' %}</li>
            </ul>
            <p>
              <b>{% translate 'Після оформлення замовлення на сайті' %}</b>, {% translate 'наш менеджер зателефонує Вам, щоб повідомити всі деталі.' %}
            </p>
          </div>
        </div>
        <div class="delivery-card">
          <h2>{% translate 'Лізинг та Трейд-ін' %}</h2>
          <div class="delivery-card-content">
            <p>
              {% translate 'У Hanbild Ви можете <b>лізингувати</b> напівпричепи, причепи та іншу техніку. Ми пропонуємо зручні умови лізингу, щоб Ви могли отримати необхідне обладнання без значних витрат. Незалежно від Вашого бізнесу, ми підберемо найкращий варіант лізингу для Ваших потреб.' %}
            </p>
            <p>
              {% translate 'Крім того, у ми пропонуємо <b>послуги trade-in</b>, що дозволяють обміняти стару техніку на нову. Наші фахівці допоможуть оцінити техніку та підібрати найкращий варіант обміну.' %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
