{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {{ title }}
{% endblock %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}


{% block content %}
  <main class="main">
    <div class="up-main-section">
      <div class="breadcrumbs policy-breadcrumbs">
        <ul>
          <li>
            <a href="{% url 'main:index' %}">{% translate 'Головна сторінка' %}</a>
          </li>
          <li>
            {% translate 'Політика конфіденційності' %}
          </li>
        </ul>
      </div>
    </div>
    <div class="privacy-policy-container">
      <h1>{% translate 'ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ' %}</h1>
      <div class="privacy-policy-block">
        <h2>{% translate 'ДАНІ КОМПАНІЇ' %}</h2>
        <p>
          {% translate 'Компанія ТОВ "ХЕНБІЛД" (LLC HANBILD)' %}
        </p>
        <p>
          {% translate 'Телефон: +38 095 151 5315' %}
        </p>
        <p>
          {% translate 'Адреса сайту: https://hanbild.com.ua' %}
        </p>
      </div>
      <div class="privacy-policy-block">
        <h2>{% translate 'ПЕРСОНАЛЬНІ ДАНІ, ЯКІ ЗБИРАЮТЬСЯ І З ЯКОЮ МЕТОЮ' %}</h2>
        <p>
          {% translate 'Якщо ви залишите повідомлення на нашому сайті, автоматично збережеться ваше ім`я, email або телефон, повідомлення у базі даних, для подальшої обробки та встановлення контакту. Також на цьому сайті може міститися контент (наприклад відео, карти тощо), що вбудовується за допомогою іншого сайту. Подібний вміст поводиться так само, ніби відвідувач зайшов на інший сайт. Ці сайти можуть збирати дані про вас, використовувати куки, впроваджувати додаткове відстеження третьою стороною та слідкувати за вашою взаємодією з впровадженим вмістом, включно з відстеженням взаємодії, якщо ви маєте обліковий запис та авторизовані на тому сайті. Важливо зауважити, що на сайті встановлений код аналітики Google, уся отримана нами інформація використовується виключно з метою вивчення попиту на наші продукти та послуги.' %}
        </p>
      </div>
      <div class="privacy-policy-block">
        <h2>{% translate 'ТРИВАЛІСТЬ ЗБЕРІГАННЯ ДАНИХ' %}</h2>
        <p>
          {% translate 'Інформація та контактні дані, які ви надаєте в повідомленні на сайті зберігаються невизначений термін. Це робиться з метою покращення обслуговування клієнтів і для можливості ідентифікувати користувача при подальших зверненнях.' %}
        </p>
      </div>
    </div>
  </main>
{% endblock %}
